.gh-glass-roof-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh; /* Takes up the top chunk of the view */
  pointer-events: none;
  z-index: 10;
  overflow: hidden;

  --gh-glass-light: #ffffff;
  --gh-iron-dark: #0a3323;
}

body[data-theme='dark'] .gh-glass-roof-container {
  --gh-glass-light: #b5ead0;
  --gh-iron-dark: #aadcc8;
}

.gh-glass-roof-svg {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
